:root {
  color-scheme: light dark;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.625;
  background-color: light-dark(#f1f1f1, #242936);
  padding: 0.5rem;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.pannel {
  text-align: left;
}
